@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.178);
    display: none;
    opacity: 0;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
}

#modal-overlay #modal {
    position: relative;
    max-width: 650px;
    width: 100%;
    background: white;
    height: 290px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin: 0 auto;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.modal-header{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.modal-img-container{
    max-width: 300px;
}
.modal-img{
    width: 100%;
}

#modal-overlay #modal .modal-footer {
    margin-top: auto;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#open-modal{
    width: 10vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    border-radius: 0;
}

